.subsribe-success { clear: both;
  .thank { margin: 20px 0 40px; text-align: center }
  .float { display: inline-block; text-align: left }

  .login, .join { display: inline-block; width: 50%; font-size: 18px; font-weight: bold; color: #000 }
  .login { text-align: left }
  .join { text-align: right }

  .rent-now { padding-left: 30px; padding-right: 30px; text-transform: uppercase }
}
