$theme-path: '../../';
$theme-path-pic: #{$theme-path}/Images;
$pathImage: #{$theme-path}/Images;
//$theme-path-fonts: #{$theme-path}/fonts;
//$theme-path-fonts: fonts;

$color1Green: #449d44;
$color2Blue: #3c8dbc;
$color3Brown: #3a3943; // menu bg
$color4Def: darken(#e6e6e6, 5%); // default
$colorFont: #333;

$color5Orange: #ff6500;
$color6Borders: #777; // borders
$color7: #F7F7F7; // inputs
$color8: #fff200; // progress
$color9Red: #ff462d; // progress
$colorB: lighten(silver, 10%);
$color1Blue: #17365D;

$font-Roboto-Regular: Roboto-Regular, verdana, arial;
$font-RobotoCondensed-Regular: RobotoCondensed-Regular, verdana, arial;
//$font-Roboto-LightItalic: Roboto-LightItalic;
//$font-Roboto-Medium: Roboto-Medium;
//$font-Roboto-Bold: Roboto-Bold;
//$font-RobotoCondensed-Bold: RobotoCondensed-Bold;
//$font-Myriad-Pro: Myriad Pro, verdana, arial;
$font-Myriad-Pro: Myriad-Pro, verdana, arial;

$font-size-base: 13px;

$line1ico: -306px;
$line2ico: -517px;
$line3ico: -552px;
@mixin main_page_event_icon{
  &.sport:before{  background-position: -68px $line1ico;  }
  &.cybersport:before, &.e_sport:before{  background-position: -186px $line1ico;  }
  &.economy:before, &.finance:before{  background-position: -107px $line1ico; }
  &.society:before{  background-position: -27px $line1ico;  }

  &.soccer:before{  background-position: -27px $line2ico;  }
  &.rugby:before{  background-position: -59px $line2ico;  }
  &.basketball:before{  background-position: -88px $line2ico;  }
  &.tennis:before{  background-position: -117px $line2ico;  }
  &.volleyball:before{  background-position: -147px $line2ico;  }
  &.hockey:before{  background-position: -176px $line2ico;  }
  &.baseball:before{  background-position: -207px $line2ico;  }
  &.boxing:before{  background-position: -237px $line2ico;  }
  &.horse_racing:before{  background-position: -269px $line2ico;  }
  &.politics:before{  background-position: -295px $line2ico;  }
  &.currencies:before{  background-position: -324px $line2ico;  }
  &.indexes:before{  background-position: -350px $line2ico;  }
  &.dota2:before{  background-position: -27px $line3ico;  }
  &.csgo:before{  background-position: -59px $line3ico;  }
  &.lol:before{  background-position: -85px $line3ico;  }
  &.economy:before{  background-position: -115px $line3ico;  }
  &.entertainment:before{  background-position: -148px $line3ico;  }
}