<!--@subject Email - Footer @-->
	</div>

	<div class="footer">
		<div class="hh" style="position: relative; padding-left: 35px; border-top: 1px solid #777777;">
			<a href="http://www.rent-a-bag.club">
				<img src="http://www.rent-a-bag.club/skin/frontend/base/default/images/logo.png" style="display: inline-block; position: relative; margin-top: -24px; padding: 0 5px ;width: 125px; height: 41px; background: #fff;" />
			</a>
		</div>
		<div class="text" style="padding-left: 49px; color: #777; font-family: Verdana, Tahoma, Arial; font-size: 12px;">Sincerely, <br /> rent-a-bag store team
		</div>
	</div>
</div>


</body>
</html>